@use './variables.scss' as *;

.bodyDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 55%;
}

.questionButton {
    width: 170px;
}