@use './variables.scss' as *;

@media (max-width: 480px) {
    .topHeader{
        margin-bottom: 5%;
    }
    .bodyDiv {
        margin-bottom: 6%;
        height: 55%;
    }
    .questionDiv {
        width: 75%;
        height: 70%;
    }
    .shipDiv {
        bottom: 13%;
    }
}