@use './variables.scss' as *;

.shipDiv {
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 15%;
    right: 50%;
    padding-top: 2.5%;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
    transform: translateY(0);
    
    
    img {
        width: 175%;
        transform: rotate(30deg);
    }
}

.shipLift {
    animation: liftoff 3s linear 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 4s;
}

@keyframes liftoff {
    0% {
        transform: translateY(0%) rotate(0deg)
    }

    25% {
        transform: translateY(-100%) rotate(-80deg);

    }

    100% {
        transform: translateY(-1000%) rotate(-100deg);

    }

}